body {
    margin-left: 20px;
    margin-right: 20px;
}
table {
    border-collapse: collapse;
    width: 90%;
}
tr,
td {
    border: 1px solid black;
    flex: auto;
    width: auto;
    text-align: center;
    height: 30px;
}
th {
    max-width: 130px;
}
input {
    text-align: center;
    min-width: 30px
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.attribute_table {
    float: left;
}
.title {
    text-align: center;
}
.button_css {
    width: 90%;  
    height: 50px;
    margin-left: 5%;
    }  
